*, ::after, ::before {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    font-size: 15px;
    max-width: 960px;
    min-width: 400px;
    width: 100vw;
    font-family: Arial;
    line-height: 1.7;
    background: rgb(164, 213, 255);

}
main {
    margin-top: 30px;
    background-color: rgb(246, 246, 246);
    border-radius: 20px;
    box-shadow: 18px 11px 19px gray
}

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 40px 40px 0;
}
.profil-picture img {
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
}
.personal-information {
    h1, h2 {
       margin: 0;
    }
}
.personal-information a {
        padding: 10px;
        border: 1px solid gray;
        border-radius: 20px;
        color: black;
        text-decoration: none;
        transition: all 0.5s;
}
.personal-information a:hover {
    background-color: gray;
    color: white;
    box-shadow: 0px 0px 20px gray;
}
.personal-information a:focus {
    outline: none;
}
.contact ul {
    list-style: none;
    margin: 0;
    img {
        padding: 5px;
        background: blue;
        border-radius: 50%;
        margin-right: 10px;
        vertical-align: middle;
    }
}
section {
    padding: 40px 40px 0px 40px;
}
.main-information, .small-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    img {
        width: 20px;
        height: 20px;
        vertical-align: middle;
        margin-right: 10px;
    }
}

.about-me,
.languages,
.experience,
.education,
.hobby {
    flex: 100%;
}
.hobby {
    margin: 0;
}
.interested {
    min-width: 400px;
}
.small-container div {
    margin: 20px;
    flex: 1;
}