*, ::after, ::before {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    font-size: 15px;
    max-width: 960px;
    min-width: 400px;
    width: 100vw;
    font-family: Arial;
    line-height: 1.7;
}
main {
    background-color: antiquewhite;
    border-radius: 5px;
}

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 40px 40px 0;
}

.profil-picture img {
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
}
.personal-information {

    h1, h2 {
        margin: 0;
        padding-bottom: 10px;
    }
}
section {
    padding: 40px 40px 0px 40px;
}
.main-information, .small-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.about-me,
.languages,
.experience,
.education,
.hobby {
    flex: 100%;
}
.hobby {
    margin: 0;
}
.interested {
    min-width: 400px;
}
.small-container div {
    margin: 20px;
    flex: 1;
}