* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: linear-gradient(45deg, rgb(64, 161, 161), rgb(78, 76, 226));
  color: #fff;
  font-family: Helvetica, sans-serif;
  min-height: 100vh;
  min-width: 100vw;
  padding: 64px;
}

h1 {
  font-size: 96px;
  text-align: center;
  margin: 96px;
}

.gallery {
  background: linear-gradient(
  60deg,
  rgba(255, 255, 255, 0.3),
  rgba(255, 255, 255, 0.5));
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  list-style: none;
  padding: 64px;
}

.thumbnail {
  margin: 32px;
  max-height: 200px;
  max-width: 300px;
}

.thumbnail img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}