* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: linear-gradient(45deg, rgb(64, 161, 161), rgb(78, 76, 226));
  color: #fff;
  font-family: Helvetica, sans-serif;
  min-height: 100vh;
  min-width: 100vw;
  padding: 64px;
}

h1 {
  font-size: 96px;
  text-align: center;
  margin: 96px;
}

.gallery {
  background: linear-gradient(
  60deg,
  rgba(255, 255, 255, 0.3),
  rgba(255, 255, 255, 0.5));
  border-radius: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  list-style: none;
  padding: 64px;
}

.thumbnail {
  border: solid 3px rgba(255, 255, 255, 0.9);
  border-radius: 15px;
  box-shadow: 0 0 48px 2px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  margin: 32px;
  max-height: 200px;
  max-width: 300px;
  overflow: hidden;
  transition: 0.3s;
}

.thumbnail:hover {
  transform: scale(1.1);
}

.thumbnail img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.popup {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  background: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(10px);
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  position: fixed;
}

.popup.hidden {
  display: none;
}

.popup__img {
  max-width: 80%;
  max-height: 80%;

}